img {
    text-align: center;
}

.navbar {
    margin-bottom: 30px;
}

.profile-creation {
    width: 100%;
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

    

    
    .div1 { grid-area: 2 / 1 / 5 / 3; }
    .div2 { grid-area: 2 / 3 / 5 / 5; }