img {
  text-align: center;
}

.navbar {
  margin-bottom: 30px;
}

.login {
  text-align: center;
  margin-top: 20px;
}

.login__header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(5, 1fr); */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 30px;
}

.div1 {
  grid-area: 1 / 2 / 2 / 5;
}
.div2 {
  grid-area: 1 / 5 / 2 / 6;
}

.media {
  width: 100%;
  max-width: 900px;
  margin: 30px auto 40px;
}

.media__image {
  width: 100%;
  max-width: 400px;
  margin: 0px 50px;
}

.media__text {
  width: 100%;
  max-width: 400px;
  text-align: left;
  margin-top: 40px;
}

.nav {
  text-align: center;
}

.link {
  color: blue;
}

.profile-creation {
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding-bottom: 50px;
}

.content {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.profile-edit {
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding-bottom: 50px;
}

.mr-right {
  color: palevioletred;
}

.profile-edit__button {
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px 10px;
}

.footer {
  color: gray;
}
